* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: silver;
}

.container {
  margin: 3rem;
  padding: 0;
  background-color: silver;
  width: 992px;
  height: 992px;
}

#car {
  height: 125px;
  width: 150px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.west {
  transform: rotate(0deg);
}

.south {
  transform: rotate(90deg);
}

.east {
  transform: rotate(180deg);
}

.north {
  transform: rotate(270deg);
}
